{% load blog_tags %}

<div class="list-group ">
    <a href="{% url 'index' %}" class="list-group-item list-group-item-action border-dark{% if 'Blog Page' in title %} bg-dark text-light {% endif %}" aria-current="true">Все категории</a>
    {% get_categories as categories %}
    {% for category in categories %}
    <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action border-dark{% if category.title in title %} bg-dark text-light {% endif %}">{{ category.title }}</a>
    {% endfor %}
</div>